<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="black lighten-1" role="navigation">

  </nav>


  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Book room? </h5>
           <form class="form-inline" id="hotelByCity" action="/bookRoom" method="POST" enctype="multipart/form-data">
      <div class="row center">
      	<select class="browser-default" id="mySelect" name="Book_room">
    			<option  value="yes">Yes</option>
                <option  value="no">No</option>
      	</select>
      </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>

        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <!--Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
