<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Hotel Application</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="black lighten-1" role="navigation">
    
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Hotel Application</h1>
      <div class="row center">
        <h5 class="header col s12 light">An easy way to search and book nearby hotels</h5>
      </div>
      <div class="row center">
      	<select class="browser-default">
      		<option value="" disabled selected>Choose your area</option>
			<option value="1">Buffalo, NY</option>
			<option value="2">Rochester, NY</option>
			<option value="3">Option 3</option>
  		</select>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">


    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Developers</h5>
          <p class="grey-text text-lighten-4">
          	<ul>
          		<li>Sahil Ajmera</li>
          		<li>Sanyukta Kate</li>
          		<li>Ankita Nadig</li>
          		<li>Karshit Shah</li>
          		
          	</ul>
          </p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <!--Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
